header{
   
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(45, 162, 205);
    height: 100px;
}

    nav li{
        display:inline-table;
        margin-left:20% ;
    }
.Inicio :hover { 
    font-size: 30px;
}
.Descarte :hover{
    font-size:30px;
}
.Equipe :hover{
    font-size:30px;
}
    .LogoSesi{
        width: 120px;
    }
.Imagem{
    width:150px;
    border-radius: 35%;
    display:inline-table;
    margin-left:15%;
    position:relative;

}
main{ background-color: rgb(7, 187, 142);
    color: rgb  (83, 80, 35);
    border: 5px rgb(7, 187, 142)solid;
    
}
.Footer{
    font-family: Arial, Helvetica, sans-serif;
text-align: center;
background-color: rgb(228, 233, 240);
color: rgb(5, 102, 248);
height: 30px;
}
